<h1>Hello World, from 'Hello'</h1>

<!--evaluates but does not output to view  -->
<% 1 + 1 %>

<!--evaluates AND does output to view  -->
<%= 1 + 9 %>
<br />

<% string1 = 'World' %>
<% string2 = '!' %>
<%="Hello #{string1}#{string2}" %><br />

<% @array.each do |n| %>
  <%= n %><br />
<% end %>
<br />

<%= link_to('Index page', {:action => 'index'})%><br />
